In [2]:
import numpy as np

In [3]:
a = np.array([[ 1, 6],[ 2, 8],[3,11],[3,10],[ 1, 7]])

In [4]:
mean_a = a.mean(axis=0)

In [5]:
a_centered=a-mean_a

In [6]:
a_centered_sp = a_centered.T[0]@a_centered.T[1]

In [7]:
a_centered_sp/(a.shape[0]-1)

2.0

In [8]:
np.cov(a.T)[0,1]

2.0

In [9]:
import pandas as pd

In [10]:
a = {
    "author_id": [1, 2, 3] ,
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

In [11]:
authors = pd.DataFrame(a)
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [12]:
b = {
    "author_id": [1, 1, 1, 2, 2, 3, 3] ,
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}

In [13]:
book=pd.DataFrame(b)

In [14]:
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [15]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [16]:
top5 = authors_price.lagest[5,'price']

AttributeError: 'DataFrame' object has no attribute 'lagest'